html{
    font-size: 62.5%; // default 10px = 1rem
    font-family: $font-family-main;
    @include respond (tablet){ // default 11px = 1rem
        font-size: 68.75%; 
    }
    @include respond (xldesktop){ // default 12px = 1rem
        font-size: 75%;
    }
}

input{
    font-family: $font-family-main;
    font-weight: 500;
}

textarea{
    font-family: $font-family-main;
}