html{
    font-size: 62.5%;
    font-family: $font-family-main;
    @include respond (tablet){
        font-size: 68.75%; 
    }
    @include respond (xldesktop){
        font-size: 75%;
    }
}

input{
    font-family: $font-family-main;
    font-weight: 500;
}

textarea{
    font-family: $font-family-main;
}