// Light Colours
$color-primary: #7A72ED;
$color-secondary: #BBA7E3;
$color-shade: #D9CFEF;

// Text Colors
$font-black: #151517;
$font-white: #F8EFEF;

// Text
$font-family-main: 'Poppins', sans-serif;
$font-family-secondary: 'Kalam', cursive; // 300,400,700

// ICONS
$icon-success: rgb(27, 206, 27);