// Light Colours
$color-primary: #7A72ED;
$color-secondary: #BBA7E3;
$color-shade: #D9CFEF;

// Text Colors
$font-black: #151517;
$font-white: #F8EFEF;

// Text
$font-family-main: 'Poppins', sans-serif;