.current-day{
    width: 100%;
    @include respond (desktop){
        grid-column: 2/-1;
        grid-row: 4/-1;
    }
    &-row{
        width: 100%;
        height: 100%;
        padding:4% 2%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        align-items: flex-start;
        gap: 2rem;
        overflow-y: scroll;
        background-color: $color-shade;
        @include respond (desktop){
            padding: 2% 1%;
        }
    }
    &-tab{
        min-height: 28rem;
        // width: 100vw;
        max-width: 42.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // &:nth-child(even){
        //     background-color: $color-shade;
        // }
    }
    &__time{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
    }
    &-content{
        background-color: $color-primary;
        padding: 5% 10%;
        width: 100%;
        min-height: 25rem;
        border-radius: 20px;
        position: relative;
        display: grid;
        place-items: center;
        color: $font-white;
        &__title{
            font-size: 1.5rem;
            font-weight: 200;
        }
        &__desc{
            word-break: break-word;
            font-weight: 300;
            font-size: 1.1rem;
            align-self: start;
        }
    }
    &-edit-icon{
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 2rem;
    }
}