.goals {
  width: 100%;
  height: 100%;
  background-color: $color-shade;
  overflow-y: scroll;
  padding: 1.5rem .5rem;
  @include respond (desktop){
    padding: 1.5rem;
    grid-column: 2/-1;
    grid-row: 4/-1;
  }
  &-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // might switch back to 430px
    justify-items: center; 
    align-items: flex-start;
    // justify-content: center; // aligns col track
    // place-items: center;
    gap: 4rem;
    @include respond (desktop){
      justify-items: flex-start;
    }
  }
  &-tab {
    width: 90%;
    max-width: 385px;
    min-height: 30rem;
    border-radius: 20px;
    background-color: $color-primary;
    position: relative;
    padding: 5%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    color: $font-white;
  }
  &__start {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    max-width: 18rem;
  }
  &__edit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    &:hover{
      cursor: pointer;
    }
  }
  &__action {
    font-size: 1.5rem;
    max-width: 80%;
    grid-column: 4/10;
    grid-row: 3/5;
    word-break: break-word;
  }
  &-outcome {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 7/-1;
    grid-column: 3/11;
    font-size: 1.2rem;
  }
  &__question {
    margin-bottom: auto;
  }
  &-completed {
    display: flex;
    margin-bottom: auto;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  &-icon{
    display: block;
    // fill: green;
    // stroke: red;
  }
  &__success {
    
  }
  &__failed {
    
  }
}
