.dw{
    display: none;
    height: 80%;
    width: 90%;
    padding: 2.5rem 2% 1rem;
    max-width: 540px;
    border-radius: 2rem;
    background-color: #7A72ED;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    font-size: 1.4rem;
    //
    input,
    textarea{
        display: block;
    }
    label{
        position: relative;
        bottom: 1rem;
        color: $font-white;
    }
    //
    &-form{
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-rows: repeat(2, 1fr) 20rem 7rem;
    }
    //
    &-form__title{
        align-self: flex-start;
        input{
            padding: 0.5rem 1rem ;
        }
    }
    //
    &-form__text{
        align-self: flex-start;
        height: 100%;
        width: 80%;
        textarea{
            width: 100%;
            height: 70%;
        }
    }
    // TIME INPUTS STYLING
    &-time-inputs-wrap{
        display: flex;
        width: 100%;
    }
    &-time-input{
        width: 100%;
        input{
            width: 55%;
            max-width: 94px;
            margin: 0 auto;
        }
    }
}

.dw-active{
    display: block;
}
