
.edit-delete{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 6rem;
    width: 9rem;
    padding: .3rem 1rem;
    background-color: $font-white;
    border: 4px solid $color-secondary;
    transform: scale(0);
    transition: .2s ease-in;
    visibility: hidden;
}

.edit{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family-main;
    span{
        display: inherit;
    }
}

.delete{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family-main;
    span{
        display: inherit;
    }
}

.edit,
.delete{
    &:hover{
        cursor: pointer;
    }
}

.edit-delete-active{
    transform: scale(1) translate(-4rem, 3rem);
    transition: .2s ease-in;
    visibility: visible;
}