.navbar-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    &__time{
        font-size: 2rem;
    }
    @include respond (desktop) {
        display: none;
    }
}

.burger{
    font-size: 4rem
}