.header-section{
    padding: 0 5%;
    @include respond (desktop){
        grid-column: 2/-1;
        grid-row: 1/2;
    }
}

.header{
    display: grid;
    place-items: center;
    height: 70vh;
    padding: 5% 0;
    &__logo{
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        color: $color-primary;
        span{
            display: block;
        }
    }
    &__name{
        font-size: 2rem;
        font-weight: 300;
        color: $color-primary;
    }
    &__date{
        align-self: flex-start;
        font-size: 2rem;
        font-weight: 300;
    }
}